.ui.container {
    padding-left: 1em;
    padding-right: 1em;
}

.event {
    border: 1px solid darkgrey;
    border-radius: 3px;
    background-color: lightgrey !important;
    margin-bottom: .5em !important;
}

.accountMenu {
    border-bottom: 0 !important;
    overflow-x: scroll;
}

.accountMenu::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 0;
}

.accountMenu::-webkit-scrollbar {
    height: 0;
}