<div class="ui huge secondary pointing menu">
    <a class="item" [routerLink]="this.getHomeRoute()" routerLinkActive="active"  *ngIf="showHomeLink">
        <i class="home icon"></i>Home
    </a>
    <a class="item" [routerLink]="this.getAccountRoute()" routerLinkActive="active" *ngIf="showAccountLink">
        <i class="user circle icon"></i>Account
    </a>
    <a class="item" [routerLink]="this.getMessagesRoute()" routerLinkActive="active" *ngIf="showMessagesLink">
        <i class="envelope outline icon"></i>Messages
    </a>
    <a class="item" [routerLink]="this.getFriendsRoute()" routerLinkActive="active" *ngIf="showFriendsLink">
        <i class="users icon"></i>Friends
    </a>
    <a class="item" [routerLink]="this.getPlaylistRoute()" routerLinkActive="active" *ngIf="showPlaylistLink">
        <i class="music icon"></i>Playlist
    </a>

    <div *ngIf="this.authService.isLoggedIn()" class="right menu">
        <a class="ui item" (click)="this.authService.logout()">Logout
            <i class="arrow circle right icon"></i>
        </a>
    </div>
    <div *ngIf="!this.authService.isLoggedIn()" class="right menu">
        <a class="ui item" (click)="routeForLogin()">
            <i class="key icon"></i>
            Login
        </a>
    </div>
</div>
<div style="background-color: #eaf1f9 ">
    <router-outlet></router-outlet>
</div>