<div class="ui huge secondary pointing menu">
    <a class="item" routerLink="/home" routerLinkActive="active">
        Home
    </a>
    <a class="item" routerLink="/messages" routerLinkActive="active">
        Messages
    </a>
    <a class="item" routerLink="/friends" routerLinkActive="active">
        Friends
    </a>
    <div class="right menu">
        <a class="ui item">
            Logout
        </a>
    </div>
</div>

<div style="background-color: #eaf1f9 ">
        <router-outlet></router-outlet>
<!-- <app-messages></app-messages> -->
</div>