<div class="ui container">
  <h1 class="recipeTitle">{{this.recipe.Name}}</h1>
  <div *ngFor="let tag of this.recipe.Description.Tags" class="ui small red horizontal label">{{tag}}</div>
  <br/>
  <br/>
  <div>
    <strong>Contributed By:</strong>
    <a href="#">
      <img class="ui avatar image" src="assets/1484648039_male3.svg" />
      <span>{{this.recipe.Source}}</span>
    </a>
  </div>
  <div>
    <strong>Origin:</strong>
    <span>{{this.recipe.Origin}}</span>
  </div>
  <div class="ui horizontal divider">Description</div>
  <div class="recipeDescription">
    <div class="ui large horizontal divided list recipeMetadata">
      <div class="item">
        <div class="content">
          <div class="header">PrepTime: </div>
          {{this.recipe.Description.PreparationTime}}
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">Serves: </div>
          {{this.recipe.Description.ServesHowMany}}
        </div>
      </div>
      <div class="item">
        <div class="content">
          <div class="header">Portion Size: </div>
          {{this.recipe.Description.PortionSize}}
        </div>
      </div>
    </div>
    <div class="ui inverted raised segment text">
      <p>{{this.recipe.Description.Text}}</p>
    </div>
    <div class="ui medium images" *ngIf="this.recipe.Description.Images">
      <a *ngFor="let image of this.recipe.Description.Images" [href]="image" target="__blank">
        <img [src]="image">
      </a>
    </div>
  </div>
  <div class="recipeEquipment" *ngIf="this.recipe.EquipmentNeeded">
    <div class="ui horizontal divider">Equipment Needed</div>
    <div class="ui bulleted list">
      <div *ngFor="let en of this.recipe.EquipmentNeeded" class="item">{{en}}</div>
    </div>
  </div>
  <div class="recipeIngredients" *ngIf="this.recipe.Ingredients">
    <div class="ui horizontal divider">Ingredients</div>
    <div class="ui bulleted list">
      <div *ngFor="let ingredient of this.recipe.Ingredients" class="item">
        <div>{{ingredient.Name}}</div>
        <div class="list">
          <a *ngIf="ingredient.Url" class="item" [href]="ingredient.getUrl()" target="__blank">Example</a>
          <div class="item" [attr.title]="ingredient.getTitle()">{{ingredient.Amount}}&nbsp;{{ingredient.getAbbreviatedMeasure()}}</div>
          <div class="item">{{ingredient.Description}}</div>
          <div *ngIf="ingredient.ExtraInfo" class="item">{{ingredient.ExtraInfo}}</div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="this.recipe.Preparation">
    <div class="ui horizontal divider">Preparation</div>
    <div class="ui inverted blue segment prep">
      <div *ngFor="let prepStage of this.recipe.Preparation; let i = index;">
        <div class="ui horizontal divider">{{getDividerSymbol(i)}}</div>
        <ul class="ui list">
          <li *ngFor="let step of prepStage.Steps">{{step.Instructions}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="this.recipe.ActualCooking">
      <div class="ui horizontal divider">Cooking</div>
      <div class="ui inverted blue segment prep">
        <div *ngFor="let prepStage of this.recipe.ActualCooking; let i = index;">
          <div class="ui horizontal divider">{{getDividerSymbol(i)}}</div>
          <ul class="ui list">
            <li *ngFor="let step of prepStage.Steps">{{step.Instructions}}</li>
          </ul>
        </div>
      </div>
    </div>
</div>