.secondary.vertical.pointing.menu {
    text-decoration-color: blue;
    float: left;
    width: 11vw;
}

.topics a:hover {
    color: #2185d0 !important;
}

.createNewTopic {
    width: 100%;
}

.topics.visible {
    visibility: visible;
    float: left;
    display: block;
}
.topics.invisible {
    visibility: hidden;
    display: none;
    float: none;
}

.mobileTopicsSidebar {
    top: inherit;
    width: auto !important;
}

.mobileTopicsSidebar.visible {
    visibility: visible;
    display: block;
}
.mobileTopicsSidebar.invisible {
    visibility: hidden;
    display: none;
}

.ui.header .mobile.topics {
    float: left;
    padding: 3vw;
}

/* .topic.content {
    float: right;
} */

.topic.content {
    float: left;
    margin-left: 2vw;
    width: 83vw;
    height: 100%;
}

.topic.content div {
    height: 100%;
}

div.content {
    height: 100%;
}

.topic.content.mobile {
    width: 96vw;
}

.topic.content .feed {
    margin-right: 1vw;
    padding-top: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 85vw;
    float: right;
    background: slategray;
    min-height: 75vh;
    overflow-y: scroll;
}

.topic.content .ui.minimal.comments {
    margin-right: 1vw;
    padding-top: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 100%;
    background: slategray;
    height: 82vh;
    max-width: none;
    overflow-y: scroll;
}

.ui.minimal.comments .comment {
    background-color: lightgray;
    padding: 1vw;
    border: solid;
    border-color: darkgray;
    border-width: 1px;
}
.ui.minimal.comments .comment:hover{
    background-color: aliceblue;
}

.comment .actions {
    transition: none !important;
    visibility: visible;
    display: block;
    margin-top: 2px;
    opacity: unset !important;
}

.comment .actions button {
    box-shadow: 0 0 0 1px inset !important;
}

.ui.form .field.reply {
    margin-bottom: 2px;
}

.topic.content .feed.isMobile {
    width: auto;
}

.event {
    border-top: 1px solid darkgray !important;
    border: 1px solid darkgrey;
    border-radius: 3px;
    background-color: rgb(211, 211, 211, 0.4) !important;
    margin-bottom: .5em !important;
}

.comment .content .text p {
    margin-top: 2vh;
}

.content {
    display: inline-block;
}


@keyframes selectedComment {
    0% { box-shadow: 0 0 20px #ff0000; }
    40% { box-shadow: 0 0 20px #ff0000; }
    60% { box-shadow: 0 0 20px #ff0000; }
    100% { box-shadow: 0 0 -10px #ff0000; }
  }
  
  .selectedComment {
    animation: selectedComment 5000ms 1s;
  }

  .footer {
      margin-top: 100vw;
  }