.secondary.vertical.pointing.menu {
    text-decoration-color: blue;
    float: left;
    width: 11vw;
}

.topics.visible {
    visibility: visible;
    float: left;
    display: block;
}
.topics.invisible {
    visibility: hidden;
    display: none;
    float: none;
}

.mobileTopicsSidebar {
    top: inherit;
    width: auto !important;
}

.mobileTopicsSidebar.visible {
    visibility: visible;
    display: block;
}
.mobileTopicsSidebar.invisible {
    visibility: hidden;
    display: none;
}

.ui.header .mobile.topics {
    float: left;
    padding: 3vw;
}

/* .topic.content {
    float: right;
} */

.topic.content {
    float: left;
    margin-left: 2vw;
    width: 83vw;
}

.topic.content.mobile {
    width: 96vw;
}

.topic.content .feed {
    margin-right: 1vw;
    padding-top: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 85vw;
    float: right;
    background: slategray;
    height: 75vh;
    overflow-y: scroll;
}

.topic.content .ui.minimal.comments {
    margin-right: 1vw;
    padding-top: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 100%;
    background: slategray;
    height: 82vh;
    max-width: none;
    overflow-y: scroll;
}

.ui.minimal.comments .comment {
    background-color: lightgray;
    padding: 1vw;
    border: solid;
    border-color: darkgray;
    border-width: 1px;
}
.ui.minimal.comments .comment:hover{
    background-color: aliceblue;
}

.comment .actions {
    transition: none !important;
    visibility: visible;
    display: block;
    margin-top: 2px;
    opacity: unset !important;
}

.ui.form .field.reply {
    margin-bottom: 2px;
}

.topic.content .feed.isMobile {
    width: auto;
}

.event {
    border-top: 1px solid darkgray !important;
    border: 1px solid darkgrey;
    border-radius: 3px;
    background-color: rgb(211, 211, 211, 0.4) !important;
    margin-bottom: .5em !important;
}