<!-- <div class="">
    <h1 class="landing page heading">October 26th-28th, 2018</h1>
    <p class="landing page content">Join us! We gather to recognize and 
      celebrate our marriage with far-flung friends and family.
      If you’d like to share our special weekend and have not yet received 
      information, let us know!
    </p>
</div> -->

<div class="background">
  <!-- <img src="../../../assets/Blue_Ridge_Tree.jpg"> -->
  <!-- <img src="../../../assets/Blue_Ridge_Tree.jpg"> -->
  <!-- <img src="../../../assets/Us_Bed_of_Rocks.jpg"> -->
  <img class="ui fluid image" src="../../../assets/Blue_Ridge_Tree.jpg">
  <div class="text">
    <p class="names header">Marcela & Zaheer</p>
    <h1 class="landing page heading">October 26th-28th, 2018</h1>
    <p class="landing page content">Join us in celebrating our marriage with far-flung friends and family
    </p>
    <div class="ui basic blue button enter">Enter</div>
  </div>
  <img class="ui medium image overlay" src="../../../assets/Us_Bed_of_Rocks.jpg">
</div>

<!-- <div class="image.two">
  <img src="../../../assets/Us_Bed_of_Rocks.jpg">
</div> -->