<div class="ui centered grid">
  <div class="ui segment">
    <h1>{{guest.Username}}</h1>
    <img *ngIf="guest.AvatarImage" class="ui medium left floated rounded image" [src]="guest.AvatarImage | sanitizeUrl">
    <p>{{guest.Description}}</p>
    <p>{{guest.getPronounText(true)}} interested in: </p>
    <div class="ui list">
      <div class="item" *ngFor="let interest of guest.Interests">
        <i class="hand point right icon"></i>
        <div class="content">
          <div class="header">{{interest}}</div>
        </div>
      </div>
    </div>
    <div class="contact-info">
      <a *ngIf="guest.FacebookUrl.IsPublic" class="ui circular facebook icon button" [attr.href]="guest.FacebookUrl.Uri" target="__blank">
        <i class="facebook icon"></i>
      </a>
      <a *ngIf="guest.TwitterUrl.IsPublic" class="ui circular twitter icon button" [href]="guest.TwitterUrl.Uri" target="__blank">
        <i class="twitter icon"></i>
      </a>
      <a *ngIf="guest.InstagramUrl.IsPublic" class="ui circular instagram icon button" [href]="guest.InstagramUrl.Uri" target="__blank">
        <i class="instagram icon"></i>
      </a>
      <a *ngIf="guest.Email.IsPublic" class="ui circular envelope icon button" [href]="'mailTo: ' + guest.Email.Uri" target="__blank">
        <i class="envelope icon"></i>
      </a>
    </div>
  </div>
  <div class="ui form">
    <div class="field reply">
      <textarea rows="3" [(ngModel)]="newComment" [placeholder]="'Say something about '+guest.Username"></textarea>
    </div>
    <a class="ui mini blue label" (click)="submitTestimonial()">
      Post
    </a>
  </div>
  <div class="ui horizontal divider">
    <h4>Testimonials from others</h4>
  </div>
  <div class="ui feed">
    <div class="event">
      <div class="label">
        <img src="https://semantic-ui.com/images/avatar/small/joe.jpg">
      </div>
      <div class="content">
        <div class="summary">
          <a>Joe Henderson</a> posted on his page
          <div class="date">
            3 days ago
          </div>
        </div>
        <div class="extra text">
          Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even
          if we don't run extra laps that day, we surely will come back for more of the same another day soon.
        </div>
        <div class="meta">
          <a class="like">
            <i class="like icon"></i> 5 Likes
          </a>
        </div>
      </div>
    </div>
  </div>