p.description-text {
    max-width: auto;
    width: auto 500ch;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.ui.card.selected {
    position: relative;
    top: -20vh;
}

.ui.card {
    margin-right: 1vw;
}

.ui.card.selected p.description-text {
    width: auto;
    text-overflow: unset;
    white-space: normal;
}

.ui.segment {
    display: inline-block;
    width: 90vw;
}

.ui.container {
    display: inline-block;
}

.ui.feed {
    width: 90vw;
}
.event {
    border: 1px solid darkgrey;
    border-radius: 3px;
    background-color: rgba(211,211,211, 0.5) !important;
    margin-bottom: .5em !important;
}

.ui.form {
    width: 90vw;
}

.contact-info {
    clear: left;
}

.ui.list {
    float: left;
}

.ui.mini.blue.label {
    float: left;
}

.ui.horizontal.divider {
    padding-left: 10vw;
    padding-right: 10vw;
}