<div class="ui centered grid">
  <!-- <div style="font-family: 'Monsieur La Doulaise'; font-size:5vw;color:black;z-index:100;" class="centered text background"> -->
  <div style="color:black;z-index:100;" class="centered text background">
    <br />
    <div class="names text">
      Abdul Khaliq Zaheer
      <br />&amp;
      <br />Marcela Zaheer Schlueter
    </div>
    <div class="invitation text">
      <p>would like to request the pleasure of your company<br />at their wedding weekend on</p>
    </div>
    <div class="date text">26-27 Oct, 2018</div>
    <div class="at text">AT</div>
    <div class="location text">Cloudland Canyon State Park</div>
    <div class="location subtext">Rising Fawn, Georgia</div>
    <br /><br />
    <div class="phone numbers text">
      <span>
        <br /> Zaheer: 404 694 8073
        <br /> Marcela: 336 508 9844
      </span>
      <span style="float:right; margin-right:2vw;">
        <br /> zaheerandcela@zahela.us
        <br /> www.zahela.us
      </span>
    </div>
  </div>
</div>