.hukaChaka {
    color: red;
}

.visible {
    display: block;
    color: red;
}

.hidden {
    display: none;
}

div {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    min-height: 10vh;
  }

.ui.segment {
    margin: auto;
}