<div class="ui centered grid announcement">  
  <p>Please checkout our <a href="/recipe">Recipe Registry</a> as well. Do you have a famous (or infamous) holiday dish? Something significant in your shared story with us? We would love to carry on the tradition!</p>
  <p>If you'd like to contribute something tangible to our shared home, here are some options:</p>
</div>
<div class="ui centered grid amazon">
  <a href="https://www.amazon.com/wedding/marcela-schlueter-abdul-khaliq-zaheer-atlanta-october-2018/registry/1OWDTJVWZW9EI"
    target="__blank">
    <img class="ui small image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Amazon_logo_plain.svg/2000px-Amazon_logo_plain.svg.png" />
  </a>
</div>
<div class="ui centered grid zola">
  <a class="zola-registry-embed" href="https://www.zola.com/registry/zaheerandcela" data-registry-key="zaheerandcela" target="__blank">
    <img class="ui small image" src="../../../assets/zola-logo-black.svg" />
  </a>
</div>
<div class="ui centered grid target">
    <a class="" href="http://tgt.gifts/zaheerandcela" target="__blank">
      <img class="ui small image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Target_Corporation_logo_%28vector%29.svg/300px-Target_Corporation_logo_%28vector%29.svg.png" />
    </a>
</div>