<div class="ui centered grid announcement">
  We understand the tradition of the giving and taking of presents at momentous and happy occasions to celebrate life, achievements and
  future prosperity. Boom, buy us stuff!
</div>
<div class="ui centered grid amazon">
  <a href="https://www.amazon.com/wedding/marcela-schlueter-abdul-khaliq-zaheer-atlanta-october-2018/registry/1OWDTJVWZW9EI"
    target="__blank">
    <img class="ui small image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Amazon_logo_plain.svg/2000px-Amazon_logo_plain.svg.png" />
    <!-- Amazon -->
  </a>
</div>
<div class="ui centered grid zola">
  <a class="zola-registry-embed" href="https://www.zola.com/registry/zaheerandcela" data-registry-key="zaheerandcela" target="__blank">
    <!-- Our Zola Wedding Registry -->
    <img class="ui small image" src="../../../assets/zola-logo-black.svg" />
  </a>
</div>
<div class="ui centered grid target">
    <a class="" href="http://tgt.gifts/zaheerandcela" target="__blank">
      <!-- Target -->
      <img class="ui small image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Target_Corporation_logo_%28vector%29.svg/300px-Target_Corporation_logo_%28vector%29.svg.png" />
    </a>
</div>
  
<!-- <div class="ui centered grid">
  <div class="ui fade reveal">
    <div class="visible content">Our
      Zola Wedding Registry
      <img src="../../../assets/zola-logo-black.svg" class="ui small image">
    </div>
    <div class="hidden content" style="width:100%;">
      <a>Sup</a>
    </div>
  </div>
</div> -->

<!-- <script>!function (e, t, n) { var s, a = e.getElementsByTagName(t)[0]; e.getElementById(n) || (s = e.createElement(t), s.id = n, s.async = !0, s.src = "https://widget.zola.com/js/widget.js", a.parentNode.insertBefore(s, a)) }(document, "script", "zola-wjs");</script> -->

<!-- <a class="zola-registry-embed" href="https://www.zola.com/registry/zaheerandcela" data-registry-key="zaheerandcela">Our Zola Wedding Registry</a><script>!function(e,t,n){var s,a=e.getElementsByTagName(t)[0];e.getElementById(n)||(s=e.createElement(t),s.id=n,s.async=!0,s.src="https://widget.zola.com/js/widget.js",a.parentNode.insertBefore(s,a))}(document,"script","zola-wjs");</script> -->