.ui.large.secondary.pointing.menu::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 0;
}

.ui.large.secondary.pointing.menu {
    overflow-x: scroll;
    border-bottom: 0 !important;
    background: linear-gradient(to right, lightblue, aliceblue);
}

.ui.large.secondary.pointing.menu.mobile {
    overflow-x: scroll;
    border-bottom: 0 !important;
    background: linear-gradient(to right, lightblue, aliceblue);
    margin-bottom: 0;
}

.ui.large.secondary.pointing.menu::-webkit-scrollbar {
    height: 0;
    z-index: inherit;
    /* margin-top:15px !important; */
}

.small.rainbow.divider {
    height: 2px;
    background: black;
    margin-bottom: 1px;
}

.mainMenuItem {
    /* padding-right: 0 !important; */
    border-bottom-width: .3em !important;
    padding: .6em .8em !important;
}

.mainMenuItem:hover {
  color: blue !important;
}

.sidebar {
    width: auto !important;
}

.sidebar.visible {
    visibility: visible;
}
.sidebar.invisible {
    visibility: hidden;
}

.main.app.container {
  background-image: url("/assets/blue_denim.jpg");
  min-height: 100vh;
  height: auto;
  background: url("/assets/blue_denim.jpg");
  background-repeat: repeat;
}

.header.item {
  height: 10vh;
  width: 20vh;
  display: block;
  width: 44vw;
  padding: 1vw !important;
}

svg {
  position: inherit !important;
  position: absolute; 
  width: 100%;
  height: 100%;
}

.mobile .right.menu {
  width: 28vw;
  float: right;
}

.mobile .mainMenuItem {
  width: 28vw;
}


/*this is for the fancy stuff on the sidebar*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans:800');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush');


.text {
  fill: none;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
  stroke: #F2385A;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  /* stroke: #F5A503; */
  stroke: black;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  /* stroke: #E9F1DF; */
  stroke: gray;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  /* stroke: rgb(95, 86, 217); */
  stroke: blue;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  /* stroke: #3AA1BF; */
  stroke: green;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

/* Other styles */
html, body {
  height: 100%;
}

body {
  /* background: #111;
  background-size: .2em 100%; */
  font: 14.5em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
}

svg {
    /* width:70vw;
    height:10px;
    transform-origin: 50% 50% 0px; */
}

.footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  min-height: 12vh;
}

.footer .links {
  overflow-x: scroll;
  width: 88vw;
  padding-top: 3vh;
}

.logo {
  width: 10vw;
  float: left;
  color: white;
}

.logo.mobile {
  width: 50%;
  padding-left: 25%;
  color: white;
}

/* The Modal (background) */
.modal-wrapper {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 45vh; /* Location of the box */
  
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.hidden {
  display: none;
}