<div class="ui small threaded comments">
  <h3 class="ui dividing header">Comments</h3>
  <div class="comment" *ngFor="let comment of comments;let i = index">
    <a class="avatar">
      <img [src]="comment.user.img">
    </a>
    <div class="content">
      <a class="author">{{comment.user.name}}</a>
      <div class="metadata">
        <span class="date" [attr.data-tooltip]="comment.timestamp | date: 'MMMM d, y, h:mm:ss a z'" data-inverted="">{{comment.timestamp | date:'shortTime'}}</span>
      </div>
      <div class="text" *ngIf="comment.textIsHtml" [innerHTML]="comment.text | sanitizeHtml"></div>
      <div class="text" *ngIf="!comment.textIsHtml">
        <p>{{comment.text}}</p>
      </div>
      <div class="ui blue basic image mini label" *ngFor="let reaction of comment.reactions;let i = index" [attr.data-tooltip]="reaction.text"
        data-inverted="">
        <img class="reaction" [src]="reaction.img">{{reaction.numOfUsers}}
      </div>
      <br/>
      <div class="actions">
        <a class="ui inverted blue icon button viewOnSlack" title="View in Slack" [href]="comment.slackHref" target="_blank">
          <i class="slack icon"></i>
        </a>
      </div>
    </div>
    <div class="comments" *ngIf="comment.threadComments">
      <div class="comment nestedComment" *ngFor="let nestedComment of comment.threadComments;let i = index">
        <a class="avatar">
          <img [src]="nestedComment.user.img">
        </a>
        <div class="content">
          <a class="author">{{nestedComment.user.name}}</a>
          <div class="metadata">
            <span class="date" [attr.data-tooltip]="nestedComment.timestamp | date: 'MMMM d, y, h:mm:ss a z'" data-inverted="">{{nestedComment.timestamp | date:'shortTime'}}</span>
          </div>
          <div class="text" *ngIf="nestedComment.textIsHtml" [innerHTML]="nestedComment.text | sanitizeHtml"></div>
          <div class="text" *ngIf="!nestedComment.textIsHtml">
            <p>{{nestedComment.text}}</p>
          </div>
          <div class="ui blue basic image mini label" *ngFor="let reaction of nestedComment.reactions;let i = index" [attr.data-tooltip]="reaction.text"
            data-inverted="">
            <img class="reaction" [src]="reaction.img">{{reaction.numOfUsers}}
          </div>
          <br/>
          <div class="actions">
            <a class="ui inverted blue icon button viewOnSlack" title="View in Slack" [href]="nestedComment.slackHref">
              <i class="slack icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<!-- <div class="ui small threaded comments" style="margin-left:10%">
  <h3 class="ui dividing header">Comments</h3>
  <div class="comment" *ngFor="let comment of comments;let i = index">
    <a class="avatar">
      <img [src]="comment.user.img">
    </a>
    <div class="content">
      <a class="author">{{comment.user.name}}</a>
      <div class="metadata">
        <span class="date" [attr.data-tooltip]="comment.timestamp | date: 'MMMM d, y, h:mm:ss a z'" data-inverted="">{{comment.timestamp | date:'shortTime'}}</span>
      </div>
      <div class="text" *ngIf="comment.textIsHtml" [innerHTML]="comment.text | sanitizeHtml"></div>
      <div class="text" *ngIf="!comment.textIsHtml">
        <p>{{comment.text}}</p>
      </div>
      <div class="ui blue basic image mini label" *ngFor="let reaction of comment.reactions;let i = index" [attr.data-tooltip]="reaction.text"
        data-inverted="">
        <img class="reaction" [src]="reaction.img">{{reaction.numOfUsers}}
      </div>
      <br/>
      <div class="actions">
        <a class="ui inverted blue icon button viewOnSlack" title="View in Slack" [href]="comment.slackHref" target="_blank">
          <i class="slack icon"></i>
        </a>
      </div>
    </div>
    <div class="comments" *ngIf="comment.threadComments">
      <div class="comment nestedComment" *ngFor="let nestedComment of comment.threadComments;let i = index">
        <a class="avatar">
          <img [src]="nestedComment.user.img">
        </a>
        <div class="content">
          <a class="author">{{nestedComment.user.name}}</a>
          <div class="metadata">
            <span class="date" [attr.data-tooltip]="nestedComment.timestamp | date: 'MMMM d, y, h:mm:ss a z'" data-inverted="">{{nestedComment.timestamp | date:'shortTime'}}</span>
          </div>
          <div class="text" *ngIf="nestedComment.textIsHtml" [innerHTML]="nestedComment.text | sanitizeHtml"></div>
          <div class="text" *ngIf="!nestedComment.textIsHtml">
            <p>{{nestedComment.text}}</p>
          </div>
          <div class="ui blue basic image mini label" *ngFor="let reaction of nestedComment.reactions;let i = index" [attr.data-tooltip]="reaction.text"
            data-inverted="">
            <img class="reaction" [src]="reaction.img">{{reaction.numOfUsers}}
          </div>
          <br/>
          <div class="actions">
            <a class="ui inverted blue icon button viewOnSlack" title="View in Slack" [href]="nestedComment.slackHref">
              <i class="slack icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- 
<div class="ui small minimal threaded comments" style="margin-left:10%">
  <h3 class="ui dividing header">Comments</h3>
  <div class="comment">
    <a class="avatar">
      <img src="https://semantic-ui.com/images/avatar/small/matt.jpg">
    </a>
    <div class="content">
      <a class="author">Matt</a>
      <div class="metadata">
        <span class="date">Today at 5:42PM</span>
      </div>
      <div class="text">
        How artistic!
        <img class="comment_emoji"[src]="emoji" />
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <div class="comment">
    <a class="avatar">
      <img src="https://semantic-ui.com/images/avatar/small/elliot.jpg">
    </a>
    <div class="content">
      <a class="author">Elliot Fu</a>
      <div class="metadata">
        <span class="date">Yesterday at 12:30AM</span>
      </div>
      <div class="text">
        <p>This has been very useful for my research. Thanks as well!</p>
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
    <div class="comments">
      <div class="comment">
        <a class="avatar">
          <img src="https://semantic-ui.com/images/avatar/small/jenny.jpg">
        </a>
        <div class="content">
          <a class="author">Jenny Hess</a>
          <div class="metadata">
            <span class="date">Just now</span>
          </div>
          <div class="text">
            Elliot you are always so right :)
            <img class="comment_emoji"[src]="emoji" />
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comment">
    <a class="avatar">
      <img src="https://semantic-ui.com/images/avatar/small/joe.jpg">
    </a>
    <div class="content">
      <a class="author">Joe Henderson</a>
      <div class="metadata">
        <span class="date">5 days ago</span>
      </div>
      <div class="text">
        Dude, this is awesome. Thanks so much
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <form class="ui reply form">
    <div class="field">
      <textarea></textarea>
    </div>
    <div class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Add Reply
    </div>
  </form>
</div> -->