.ui.form {
    width: 63vw;
    padding-left: 0;
    padding-right: 0;
}

.divider {
    width: 63vw;
    /* padding-right: 2rem;  */
}

.close.icon {
    padding-left: 3px
}

.ui.segment {
    width: 63vw;
    background: transparent;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0;
    margin-top: 1vw;
    font-size: 16px;
}

.ui.green.segment, .ui.red.segment {
    width: auto;
    padding-bottom: 1em;
    font-family: 'Raleway', sans-serif;
}

.ui.segment .field {
    clear: both;
    margin: 0 0 1em;
}

.ui.centered.grid .ui.form {
    margin-top: 2vh;
}