<!-- <div class="ui centered grid">
  <div class="ui segment">
    <p>Logging in to this website is managed by Slack. Slack is also the primary forum and chat medium we'll be using.
      <br/> Clicking on the "Sign in with Slack" button will redirect you to Slack, and walk you through creating a Slack account.
      <br/>
      <br/>
      <b>NOTE: If you're asked to allow "Zahela-WeddingWebsite" to have access to your Slack information, please approve that
        request.
      </b>
    </p>
    <a href="#">
      <a [href]="getSlackButtonHref()">
        <img src="https://api.slack.com/img/sign_in_with_slack.png" />
      </a>
    </a>
  </div>
</div> -->

<div class="ui centered grid">
  <div class="ui segment">
    <div class="ui action input">
      <input type="text" name="email" placeholder="Your Email Address" [(ngModel)]="registerEmailAddress" *ngIf="doingRegisterFlow"
        (keyup.enter)="findUserByEmail()">
      <button class="ui teal right labeled icon button" *ngIf="showStartRegisterButton" (click)="startRegisterFlow()">
        First Time Here?
      </button>
      <button class="ui teal right labeled icon button" [class.loading]="tryingToFindUser" *ngIf="showFindMeButton" (click)="findUserByEmail()">
        Find me
      </button>
    </div>
    <div class="field">
      <div class="ui green segment" *ngIf="registerFlowUserFound">
        <p>
          <i class="check icon"></i>
          Welcome to our website <b>{{user.lastName}}, {{user.firstName}}!</b> Go ahead and enter a password and register
          so you can have access to more of this website
        </p>
      </div>
      <div class="ui red segment" *ngIf="registerFlowUserNotFound">
        <p>
          <i class="cross icon"></i>
          Sorry! It seems like we can't find you. Please try a different email/username.
        </p>
      </div>
    </div>
    <div class="field" *ngIf="registerFlowUserFound">
      <div class="ui left icon fluid input">
        <i class="user icon"></i>
        <input type="password" name="password" placeholder="password" [(ngModel)]="registerPassword" (keyup.enter)="onKeyUp($event)">
      </div>
    </div>
    <div class="field" *ngIf="registerFlowUserFound">
      <div class="ui fluid large teal submit button" (click)="registerUser()">
        <i class="user plus icon"></i>Register
      </div>
    </div>
  </div>
  <div class="ui horizontal divider">
    <h3 style="color:dodgerblue">Or</h3>
  </div>

  <form class="ui form">
    <br/>
    <h2>
      <div class="content">
        Log In
      </div>
    </h2>
    <!-- <div class="ui stacked segment"> -->
    <div class="ui segment">
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <input type="text" name="email" placeholder="Email address" [(ngModel)]="username">
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input type="password" name="password" placeholder="Password" [(ngModel)]="password" (keyup.enter)="login()">
        </div>
      </div>
      <div class="ui fluid large teal submit button" (click)="login()">
        <i class="key icon"></i>Login
      </div>
    </div>
    <!-- <div class="ui error message"></div> -->
  </form>
</div>
<div class="ui fluid centered grid" *ngIf="this.loginError" id="loginError">
  <div class="ui error message">
    <i class="close icon" (click)="dismissLoginError()"></i>
    <div class="header">
      {{this.loginError}}&nbsp;&nbsp;
    </div>
  </div>
</div>


<br/>
<br/>
<div class="ui centered grid">


  <form class="ui form">
    <div class="ui horizontal divider">
      <h3 style="color:dodgerblue">Or</h3>
    </div>
    <h2 class="ui header">Help us connect with you</h2>
    <div class="field">
      <div class="two fields">
        <div class="field">
          <input type="text" placeholder="Your Full Name" name="requestConnectionName" [(ngModel)]="requestConnectionName">
        </div>
        <div class="field">
          <input type="email" placeholder="Your Email, so we can get back to you" name="requestConnectionEmail" [(ngModel)]="requestConnectionEmail">
        </div>
      </div>
    </div>
    <div class="field">
      <label></label>
      <textarea placeholder="Tell us a bit about how we met" (keyup.enter)="requestConnection()" name="requestConnectionHistory"
        [(ngModel)]="requestConnectionHistory"></textarea>
    </div>
    <div class="ui fluid large blue submit button" (click)="requestConnection()">
      <i class="envelope outline icon"></i>Connect
    </div>
  </form>
</div>
<br/>
<br/>
<div class="ui fluid centered grid" *ngIf="this.signupErrors" id="signupErrors">
  <div class="ui error message">
    <i class="close icon" (click)="dismissSignupErrors()"></i>
    <div class="header">
      There were some errors with your submission &nbsp;&nbsp;
    </div>
    <ul class="list" *ngFor="let error of this.signupErrors">
      <li>{{error}}</li>
    </ul>
  </div>
</div>
<br/>
<br/>