<div class="ui centered grid">
  <form class="ui form">
    <br/>
    <h2>
      <div class="content">
        Log In
      </div>
    </h2>
    <div class="ui stacked segment">
      <div class="field">
        <div class="ui left icon input">
          <i class="user icon"></i>
          <input type="text" name="email" placeholder="E-mail address">
        </div>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <i class="lock icon"></i>
          <input type="password" name="password" placeholder="Password">
        </div>
      </div>
      <div class="ui fluid large teal submit button">Login</div>
    </div>

    <div class="ui error message"></div>

  </form>
</div>