<div class="ui stackable cards">
  <div *ngFor="let friend of friends; let i = index;" class="ui blue card">
    <div class="ui slide masked reveal image">
      <img [src]="friend.primaryImage | sanitizeUrl" class="visible content">
      <img [src]="friend.secondaryImage | sanitizeUrl" class="hidden content">
    </div>
    <div class="content">
      <a class="header">{{friend.name}}</a>
      <div *ngFor="let category of friend.categories" class="ui red horizontal label">{{category}}</div>
      <div class="meta">
        <span>Friend since January 2013</span>
      </div>
      <div class="description">
        <p>{{friend.description}}</p>
        <p>{{friend.getPronounText(true)}} loves spending time on {{friend.getInterestsText()}}</p>
      </div>
    </div>
    <div class="extra content">
      <div class="right floated">
        <a *ngIf="friend.facebookUrl" [href]="friend.facebookUrl" target="_blank">
          <i class="facebook icon"></i>
        </a>
        <a *ngIf="friend.slackUrl" [href]="friend.slackUrl" target="_blank">
          <i class="slack icon"></i>
        </a>
        <a *ngIf="friend.email" [href]="friend.getMailToHref()">
          <i class="mail icon"></i>
        </a>
      </div>
    </div>
  </div>
</div>