<!-- <app-guest-detail [guest]="friends[0]"></app-guest-detail> -->

<div class="ui stackable cards" [class.cardSelected]="cardSelected">
  <app-guest-card *ngFor="let friend of friends" 
    [guest]="friend"
    (click)="selectFriend(friend)">
  </app-guest-card>
</div>


<!-- <div class="ui stackable cards" [class.cardSelected]="cardSelected">
  <div *ngFor="let friend of friends; let i = index;" class="ui blue link card" 
    [class.selected]="isSelectedFriend(friend)"
    (click)="selectFriend(friend)">
    <div class="ui image">
      <img [src]="friend.primaryImage | sanitizeUrl" class="visible content">
    </div>
    <div class="content">
      <a class="header">{{friend.name}}</a>
      <div *ngFor="let category of friend.categories" class="ui red horizontal label">{{category}}</div>
      <div class="meta">
        <span>Friend since January 2013</span>
      </div>
      <div class="description">
        <p class="description-text">{{friend.description}}</p>
        <p>{{friend.getPronounText(true)}} loves spending time on {{friend.getInterestsText()}}</p>
      </div>
    </div>
    <div class="extra content">
      <div class="right floated">
        <a *ngIf="friend.facebookUrl" [href]="friend.facebookUrl" target="_blank">
          <i class="facebook icon"></i>
        </a>
        <a *ngIf="friend.slackUrl" [href]="friend.slackUrl" target="_blank">
          <i class="slack icon"></i>
        </a>
        <a *ngIf="friend.email" [href]="friend.getMailToHref()">
          <i class="mail icon"></i>
        </a>
      </div>
    </div>
  </div>
</div> -->