<div class="ui accordion">
  <div *ngFor="let panel of accordion; let i = index;">
    <div [class]="panel.getCssClass('title')" (click)="toggle(panel)">
      <i class="dropdown icon"></i>
      {{panel.title.title}}
      <div class="ui red basic horizontal label" *ngFor="let tag of panel.title.tags">{{tag}}</div>
    </div>
    <div [class]="panel.getCssClass('content')">
      <div class="ui segment">
        <div *ngIf="panel.content.tags">
          <div class="ui blue basic horizontal label" *ngFor="let tag of panel.content.tags">{{tag}}</div>
        </div>
        <p>{{panel.content.content}}</p>
      </div>
    </div>
  </div>
</div>