.ui.accordion {
    margin-left: 1vw;
}

.userInput {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

.filterTags {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

.ui.inverted.segment {
    color: black;
    background-color: rgba(0, 0, 0, .1);
}

.faqContent, .title {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

.divider {
    margin: 0;
    margin-top: 1rem;
}

.titleLabel {
    float: right;
}

.copyFaqLink {
    float: right;
}

.filter {
    border-radius: 2px;
    margin: 2px !important;
}

.ui.centered.grid h1 {
    font-family: 'Raleway', sans-serif !important;
}

.title.accordionItem {
    font-family: 'Raleway', sans-serif !important;
    font-size: 18px !important;
    font-weight: bold;
}

.faqContent {
    margin-left: 5vw;
    font-weight: bold;
    font-family: 'Scope One', serif;
    font-size: 17px !important;
}