<br/>
<div class="userInput">
  <div class="ui fluid icon input">
    <input type="text" id="faq_question" name="question" placeholder="Search for or ask a question" [(ngModel)]="question" (keyup)="onKeyUp()">
    <i class="inverted circular search link icon"></i>
  </div>
  <br/>
  <div class="ui green button">Ask this question</div>
</div>
<div class="ui inverted segment filterTags">Filters: &nbsp;&nbsp;&nbsp;
  <a class="ui large blue horizontal label filter" *ngFor="let filter of filters" (click)="doFilter(filter)">{{filter}}</a>
</div>
<br/>
<div class="ui centered grid">
  <h1>Frequently Asked Questions</h1>
  <div class="ui divider"></div>
</div>
<div class="ui accordion">
  <div *ngFor="let panel of accordion; let i = index;">
    <div [class]="panel.getCssClass('title')" (click)="toggle(panel)">
      <i class="dropdown icon"></i>
      {{panel.title.title}}
      <div class="ui red basic horizontal label titleLabel" *ngFor="let tag of panel.title.tags">{{tag}}</div>
      <div class="ui red basic horizontal label titleLabel" *ngFor="let tag of panel.title.tags">{{tag}}</div>
      <div class="ui red basic horizontal label titleLabel" *ngFor="let tag of panel.title.tags">{{tag}}</div>
      <div class="ui divider"></div>
    </div>
    <div [class]="panel.getCssClass('content')">
      <div class="ui segment faqContent">
        <div *ngIf="panel.content.tags">
          <a class="ui label copyFaqLink" [attr.href]="panel.getHref()" target="_blank" data-tooltip="Get Link" data-inverted="">
            <i class="share icon" style="margin:0;"></i>
          </a>
          <div class="ui blue basic horizontal label" *ngFor="let tag of panel.content.tags">{{tag}}</div>
        </div>
        <p>{{panel.content.content}}</p>
      </div>
    </div>  
  </div>
</div>