.ui.accordion {
    margin-left: 1vw;
}

.userInput {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

.filterTags {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

.faqContent, .title {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
}

.divider {
    margin: 0;
    margin-top: 1rem;
}

.titleLabel {
    float: right;
}

.copyFaqLink {
    float: right;
}

.filter {
    border-radius: 2px;
    margin: 2px !important;
}