<br /><br />
<div class="ui centered grid">
  <div class="ui form">
    <h4 class="ui dividing header">Recipe Details</h4>
    <div class="details">
      <div class="field">
        <div class="two fields">
          <div class="field">
            <label>Name</label>
            <input type="text" name="name" [(ngModel)]="recipe.Name" placeholder="e.g. Shirataki stirfry">
          </div>
          <div class="field">
            <label>Images</label>
            <div class="ui images" *ngIf="recipe.Description.Images">
              <div class="ui tiny image" *ngFor="let img of recipe.Description.Images">
                <a class="ui red right corner mini label" (click)="removeImage(img)">
                  <i class="delete icon"></i>
                </a>
                <img [src]="img">
              </div>    
              <div class="ui segment loaderCircle" *ngIf="imageLoading">
                <div class="ui active text loader">Processing Files</div>
                <p></p>
              </div>    
            </div>
            <input class="imageUploadInput" type="file" (change)="onFileChanged($event)" multiple #fileInput>
            <button class="ui gray button" (click)="fileInput.click()">Upload Images</button>
          </div>
        </div>
      </div>
    </div>
    <h4 class="ui dividing header">Description</h4>
    <div class="recipeDescription">
      <div class="field">
        <textarea name="desc_text" 
          [(ngModel)]="recipe.Description.Text" 
          rows="3" 
          placeholder="e.g. Bubby's famous chicken. This is absolutely delicious grilled chicken on bed of rice..." 
          (input)="textAreaKeyPress($event)"
        >
      </textarea>
      </div>
      <div class="three fields">
        <div class="field">
          <label>Prep Time</label>
          <input type="text" name="desc_prepTime" [(ngModel)]="recipe.Description.PreparationTime" placeholder="e.g. 3hrs">
        </div>
        <div class="field">
          <label>Portion Size</label>
          <input type="text" name="desc_portSize" [(ngModel)]="recipe.Description.PortionSize" placeholder="e.g. 6pcs of grilled chicken">
        </div>
        <div class="field">
          <label># of Servings</label>
          <input type="text" name="desc_numServed" [(ngModel)]="recipe.Description.ServesHowMany" placeholder="e.g. 6">
        </div>
      </div>
    </div>
    <h4 class="ui dividing header">Equipment</h4>
    <div class="equipment">
      <div class="field" *ngFor="let equips of equipments; let i = index">
        <div class="ui action input">
          <input type="text" name="huh" [(ngModel)]="equips.val" placeholder="e.g. 1 Large Saucepan">
        </div>
      </div>
      <div class="field">
        <label>&nbsp;</label>
        <div class="ui blue button" (click)="moreEquipments()">Add More</div>
      </div>
    </div>

    <h4 class="ui dividing header">Ingredients</h4>
    <br />
    <div class="ingredients">
      <div class="three fields" *ngFor="let ingr of ingredients; let i = index">
        <div class="eight wide field">
          <label *ngIf="i === 0">Name</label>
          <input type="text" name="ingr_name" [(ngModel)]="ingr.Name" placeholder="Cantaloupe">
        </div>
        <div class="four wide field">
          <label *ngIf="i === 0">Amount</label>
          <input type="text" name="ingr_amount" [(ngModel)]="ingr.Amount" placeholder="1 Large">
        </div>
        <div class="eight wide field">
          <label *ngIf="i === 0">Notes</label>
          <textarea name="ingr_xtrainfo" 
            [(ngModel)]="ingr.ExtraInfo" 
            rows="1" 
            placeholder="e.g. Get a fragrant one" 
            (input)="textAreaKeyPress($event)"
          >
          </textarea>
        </div>
      </div>
      <div class="field">
        <label>&nbsp;</label>
        <div class="ui blue button" (click)="moreIngredients()">Add More</div>
      </div>
    </div>

    <h4 class="ui dividing header">Preparation</h4>
    <div class="preparation">
      <div class="field">
          <textarea name="prep" 
          [(ngModel)]="prep" 
          rows="3" 
          placeholder="e.g. Get a fragrant one" 
          (input)="textAreaKeyPress($event)"
        >
        </textarea>
      </div>
      <!-- <div class="field">
        <label>&nbsp;</label>
        <div class="ui blue button" (click)="addPrepStage(true)">Add Stage</div>
      </div> -->
    </div>

    <h4 class="ui dividing header">Cooking</h4>
    <div class="cooking">
        <div class="field">
            <textarea name="cooking" 
            [(ngModel)]="cooking" 
            rows="3" 
            placeholder="e.g. Get a fragrant one" 
            (input)="textAreaKeyPress($event)"
          >
          </textarea>
        </div>
    </div>

    <br /><br />
    <div class="ui button" tabindex="0" (click)="saveRecipe()">Save</div>
    <a class="ui button" tabindex="0" (click)="preview()">Preview</a>
  </div>
</div>
























<!-- ************************************************************************************************************************************************* -->





<!-- <br /><br />
<div class="ui centered grid">
  <div class="ui form">
    <h4 class="ui dividing header">Recipe Details</h4>
    <div class="details">
      <div class="field">
        <div class="two fields">
          <div class="field">
            <label>Name</label>
            <input type="text" name="name" [(ngModel)]="recipe.Name" placeholder="e.g. Shirataki stirfry">
          </div>
          <div class="field">
            <label>Origin</label>
            <input type="text" name="origin" [(ngModel)]="recipe.Origin" placeholder="e.g. Grandma's famous pancakes">
          </div>
        </div>
      </div>
    </div>
    <h4 class="ui dividing header">Description</h4>
    <div class="recipeDescription">
      <div class="field">
        <textarea name="desc_text" [(ngModel)]="recipe.Description.Text" rows="3" placeholder="e.g. Delicious grilled chicken on bed of rice">
      </textarea>
      </div>
      <div class="three fields">
        <div class="field">
          <label>Prep Time</label>
          <input type="text" name="desc_prepTime" [(ngModel)]="recipe.Description.PreparationTime" placeholder="e.g. 3hrs">
        </div>
        <div class="field">
          <label>Portion Size</label>
          <input type="text" name="desc_portSize" [(ngModel)]="recipe.Description.PortionSize" placeholder="e.g. 6pcs of grilled chicken">
        </div>
        <div class="field">
          <label># of Servings</label>
          <input type="text" name="desc_numServed" [(ngModel)]="recipe.Description.ServesHowMany" placeholder="e.g. 6">
        </div>
      </div>
      <div class="field">
        <label>Tags</label>
        <div class="tags" *ngIf="recipe.Description.Tags && recipe.Description.Tags.length > 0">
          <div class="ui blue small label" *ngFor="let tag of recipe.Description.Tags">{{tag}}
            <i class="delete icon" (click)="removeTag(tag)"></i>
          </div>
          <br /><br />
        </div>
        <div class="ui action input">
          <input type="text" name="desc_tags" [(ngModel)]="tag" (keyup.enter)="addTag()" placeholder="e.g. mexican">
          <button class="ui blue button" (click)="addTag()">Add Tag</button>
        </div>
      </div>
      <div class="field">
        <label>Images</label>
        <div class="ui images" *ngIf="recipe.Description.Images">
          <div class="ui tiny image" *ngFor="let img of recipe.Description.Images">
            <a class="ui red right corner mini label" (click)="removeImage(img)">
              <i class="delete icon"></i>
            </a>
            <img [src]="img">
          </div>

          <div class="ui segment loaderCircle" *ngIf="imageLoading">
            <div class="ui active text loader">Processing Files</div>
            <p></p>
          </div>

        </div>
        <div class="ui action input">
          <input type="text" name="desc_images" [(ngModel)]="image" placeholder="http://potato.com/selfie.jpg">
          <button class="ui blue button" (click)="addImage()">Add Image</button> &nbsp;
        </div>
      </div>
      <div clas="field">
        <input class="imageUploadInput" type="file" (change)="onFileChanged($event)" multiple #fileInput>
        <button class="ui gray button" (click)="fileInput.click()">Upload Images</button>
      </div>
    </div>
    <h4 class="ui dividing header">Equipment</h4>
    <div class="equipment">
      <div class="field">
        <div class="tags" *ngIf="recipe.EquipmentNeeded && recipe.EquipmentNeeded.length > 0">
          <div class="ui blue small label" *ngFor="let en of recipe.EquipmentNeeded">{{en}}
            <i class="delete icon" (click)="removeEquipment(en)"></i>
          </div>
          <br /><br />
        </div>
        <div class="ui action input">
          <input type="text" name="equipment" [(ngModel)]="equipment" placeholder="e.g. 1 Large Saucepan">
          <button class="ui blue button" (click)="addEquipment()">Add Equipment</button>
        </div>
      </div>
    </div>

    <h4 class="ui dividing header">Ingredients</h4>
    <div class="ui cards" *ngIf="recipe.Ingredients">
      <div class="ui mini blue card" *ngFor="let ingr of recipe.Ingredients">
        <div class="content">
          <div class="header">{{ingr.Name}}&nbsp;&nbsp;[{{ingr.Amount}} {{getMeasureName(ingr.Measure)}}]</div>
          <div class="meta">{{ingr.ExtraInfo}}</div>
          <div class="description">
            <p>{{ingr.Description}}</p>
          </div>
        </div>
        <div class="extra content" *ngIf="ingr.Url">
          <a [attr.href]="ingr.Url" target="__blank">
            <i class="external square alternate icon"></i>
          </a>
          <a (click)="editIngredient(ingr)">
            <i class="edit icon"></i>
          </a>
          <a (click)="removeIngredient(ingr)">
            <i class="x icon"></i>
          </a>
        </div>
      </div>
    </div>
    <br />

    <div class="ingredients">
      <div class="four fields">
        <div class="field">
          <label>Name</label>
          <input type="text" name="ingr_name" [(ngModel)]="ingredient.Name" placeholder="Cantaloupe">
        </div>
        <div class="field">
          <label>Description</label>
          <input type="text" name="ingr_desc" [(ngModel)]="ingredient.Description" placeholder="The big yellow kind">
        </div>
        <div class="field">
          <label>Amount</label>
          <input type="text" name="ingr_amount" [(ngModel)]="ingredient.Amount" placeholder="1 Large">
        </div>
        <div class="field">
          <label>Measure</label>
          <select>
            <option value="Tablespoon">Tablespoon</option>
            <option value="Teaspoon">Teaspoon</option>
            <option value="Pinch">Pinch</option>
            <option value="Cup">Cup</option>
            <option value="Milliliter">Milliliter</option>
            <option value="Count">Count</option>
          </select>
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <label>Url</label>
          <input type="text" name="ingr_url" [(ngModel)]="ingredient.Url" placeholder="www.cantaloupe.com">
        </div>
        <div class="field">
          <label>ExtraInfo</label>
          <input type="text" name="ingr_xtrainfo" [(ngModel)]="ingredient.ExtraInfo" placeholder="Get a fragrant one">
        </div>
        <div class="field">
          <label>&nbsp;</label>
          <div class="ui blue button" (click)="addIngredient()">Add Ingredient</div>
        </div>
      </div>
    </div>

    <h4 class="ui dividing header">Preparation</h4>
    <div class="preparation">
      <div *ngFor="let ps of this.recipe.Preparation; let i = index;">
        <div class="ui horizontal divider">{{ps.Name}}</div>
        <ul class="ui list">
          <li *ngFor="let step of ps.Steps">{{step.Instructions}}</li>
        </ul>
      </div>
      <div *ngIf="prepStage">
        <div class="five wide field" *ngIf="!(prepStage.Steps.length > 0)">
          <label>Name</label>
          <input type="text" name="prep_stg_name" [(ngModel)]="prepStage.Name" placeholder="Preparing the chicken">
        </div>
        <div class="ten wide field">
          <label>What are the steps for this stage of preparation?</label>
          <div class="ui action input">
            <input type="text" name="prep_stg_step" [(ngModel)]="step" placeholder="">
            <button class="ui blue button" (click)="addPrepStep()">Add Step</button>
          </div>
        </div>
      </div>

      <div class="field">
        <label>&nbsp;</label>
        <div class="ui blue button" (click)="addPrepStage(true)">Add Stage</div>
      </div>
    </div>

    <h4 class="ui dividing header">Cooking</h4>
    <div class="cooking">
      <div *ngFor="let ps of this.recipe.ActualCooking; let i = index;">
        <div class="ui horizontal divider">{{ps.Name}}</div>
        <ul class="ui list">
          <li *ngFor="let step of ps.Steps">{{step.Instructions}}</li>
        </ul>
      </div>
      <div *ngIf="cookingStage">
        <div class="five wide field" *ngIf="!(cookingStage.Steps.length > 0)">
          <label>Name</label>
          <input type="text" name="cook_stg_name" [(ngModel)]="cookingStage.Name" placeholder="Place the chicken in the oven">
        </div>
        <div class="ten wide field">
          <label>What are the steps for this stage of cooking?</label>
          <div class="ui action input">
            <input type="text" name="cook_stg_step" [(ngModel)]="cookingStep" placeholder="">
            <button class="ui blue button" (click)="addCookingStep()">Add Step</button>
          </div>
        </div>
      </div>

      <div class="field">
        <label>&nbsp;</label>
        <div class="ui blue button" (click)="addCookingStage(true)">Add Stage</div>
      </div>
    </div>

    <br /><br />
    <div class="ui button" tabindex="0" (click)="saveRecipe()">Save</div>
    <a class="ui button" tabindex="0" (click)="preview()" [href]="getPreviewHref()">Preview</a>
  </div>
</div> -->