<div class="ui container">
    <h1>THIS IS POLO</h1>
    <div *ngIf="true">
        <!-- <img-cropper #cropper [image]="data" [settings]="cropperSettings" (onCrop)="imageCropped($event)"></img-cropper> -->
    </div>
    <img *ngIf="croppedImage" [src]="croppedImage" style="width:200px;height:200px;" alt="nolo" />
    <img class="ui avatar image" [src]="croppedImage" style="width:100px;height:100px;">
    <div class="ui button" (click)="saveImage()">Save</div>
    <div class="ui button" (click)="showModal()">showModal</div>
</div>